<center>
<img src="https://github.com/Yorko/mlcourse.ai/blob/master/img/ods_stickers.jpg?raw=1" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [0]:
data = pd.read_csv(PATH)
data.head()


__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [0]:
youngest_male = data[(data['Year'] == 1996) & (data['Sex'] == 'M')].min()

youngest_female = data[(data['Year'] == 1996) & (data['Sex'] == 'F')].min()

print('Youngest male: {} \nYoungest female: {}'.format(youngest_male['Age'], youngest_female['Age']))

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [0]:
data['Sport'].unique()

In [0]:
male_2000 = data[(data['Year'] == 2000) & (data['Sex'] == 'M')]

male_gymnast = data[((data['Year'] == 2000) & (data['Sex'] == 'M')) & (data['Sport'] == 'Gymnastics')]

male_2000_count = len(male_2000['Name'].unique())

male_gymnast_count = len(male_gymnast['Name'].unique())

percentage = (male_gymnast_count/male_2000_count)*100

print('Total males in 2000: {}\nGymnasts males in 2000: {}'.format(male_2000_count, male_gymnast_count))
print('Percent of gymnast males in 2000 of all males in 2000:', percentage)

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [0]:
female_bask_2000 = data[((data['Sex'] == 'F') & (data['Sport'] == 'Basketball')) & (data['Year'] == 2000)]

print('Mean:{}\nDeviation:{}'.format(female_bask_2000['Height'].mean(),female_bask_2000['Height'].std()))

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [0]:
athlets_2002 = data[data['Year'] == 2002]

heavy_person = athlets_2002[athlets_2002['Weight'] == athlets_2002['Weight'].max()]

print('Sport the heaviest athlet did in 2002: ', heavy_person['Sport'])

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [0]:
pawe = data[data['Name'] == 'Pawe Abratkiewicz']

print("Times of Pawe at Olympics in different years: ", len(pawe['Year'].unique()))

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [0]:
australia_2000 = data[(data['Year'] == 2000) & (data['Team'] == 'Australia')]
print('Silver medals in Tennis of Australia in 2000:',len(australia_2000[(australia_2000['Medal'] == 'Silver') & (australia_2000['Sport'] == 'Tennis')]))

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [0]:
switzerland = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland')]
switzerland_medals = len(switzerland['Medal'].dropna())

serbia = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia')]
serbia_medals = len(serbia['Medal'].dropna())

print('Switzerland won fewer medals than Serbia at the 2016 Olympics:', switzerland_medals < serbia_medals)

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [1]:
olympics_2014 = data[(data['Year'] == 2014)]

olympics_2014['Age']

print(olympics_2014.groupby(['Age'])['Age'].count())

ages = olympics_2014.groupby(['Age'])['Age'].count()

ages_45_55 = ages.loc[45:55]
ages_35_45 = ages.loc[35:45]

ages_25_35 = ages.loc[25:35].iloc[:-1]
ages_15_25 = ages.loc[15:25].iloc[:-1]
ages_35_45_2 = ages.loc[35:45].iloc[:-1]

print('All categories:')
print('[45-55] and [25-35):{} - {}'.format(ages_45_55.count(), ages_25_35.count()))
print('[45-55] and [15-25):{} - {}'.format(ages_45_55.count(), ages_15_25.count()))
print('[35-45] and [25-35):{} - {}'.format(ages_35_45.count(), ages_25_35.count()))
print('[45-55] and [35-45):{} - {}'.format(ages_45_55.count(), ages_35_45.count()))

print('Answer:')
print('[45-55] and [35-45):{} - {}'.format(ages_45_55.count(), ages_35_45.count()))

NameError: ignored

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [0]:
print(len(data[(data['City'] == 'Lake Placid') & (data['Season'] == 'Summer')]))

print(len(data[(data['City'] == 'Sankt Moritz') & (data['Season'] == 'Winter')]))

print("Answer: No, Yes")

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [0]:
sports_2016 = data[data['Year'] == 2016].loc[:,'Sport'].unique()
# sports_2016

len(sports_2016)